@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

html{
  background-color: white;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: Poppins-Regular;
}

.spacing1{
  display: flex;
  height: 10vh;
}

.toolbar{
  display: flex;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo{
  width: 60%;
}

.logo img{
  height: 35px;
  margin-top: 3%;
  margin-left: 4%;
}

.toolbar_text{
  width: 40%;
  text-align: right;
  margin-top: 2%;
}

.toolbar_text a{
  margin-right: 7%;
  font-family: Poppins-Regular;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #43546B;
  transition: .25s;
  font-size: 125%;
}

.toolbar_text a:hover{
  color: #C2A128;
}


.body_text2{
  height: 85vh;
}

.body_text2 h1, p, input{
  margin-left: 5%;
  color: #43546B;
}
