@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

html{
  background-color: white;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: Poppins-Regular;
}

.spacing1{
  display: flex;
  height: 10vh;
}

.toolbar{
  display: flex;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo{
  width: 60%;
}

.logo img{
  height: 35px;
  margin-top: 3%;
  margin-left: 4%;
}

.toolbar_text{
  width: 40%;
  text-align: right;
  margin-top: 2%;
}

.toolbar_text a{
  margin-right: 7%;
  font-family: Poppins-Regular;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #43546B;
  transition: .25s;
  font-size: 125%;
}

.toolbar_text a:hover{
  color: #C2A128;
}


.body_text2{
  height: 80vh;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  color: #43546B;
  font-family: Poppins-Regular;
}

.body_text2 h1{
  text-align: center;
}

.body_text2 p{
  margin-left: 10%;
  margin-bottom: 0;
}

.body_text2 input{
  margin-left: 10%;
  width: 80%;
  height: 3vh;
  text-indent: 2%;
  font-family: Poppins-Regular;
}

#register{
  margin-left: 10%;
  width: 81.5%;
  margin-top: 5%;
  border-radius: 5px;
  font-family: Poppins-Regular;
  border: none;
  cursor: pointer;
  background-color: #C2A128;
  transition: .1s;
  height: 4vh;
}

#register:hover{
  background-color: #c4ad58;
}

.red-star {
    color: red;
}
