<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wsAlpha</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='script/favicon.ico')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script/script.js')}}"></script>
  </head>
  <body>
    <div class="toolbar">
      <div class="logo">
        <a href="/home"><img src="{{ url_for('static', filename='images/wsAlpha_logo_goldWS.png')}}"></a>
      </div>
      <div class="toolbar_text">
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
      </div>
    </div>
    <div class="spacing1"></div>
    <div class="body_text2">
      <h1>Welcome, {{email}}</h1>
      <form class="unsubscribe" method="POST">
        <p> Click here to </p>
        <input id="submit" type="submit" value="Unsubscribe">
      </form>
    </div>
  </body>
</html>
